<section id="actionstudent" class="content-section">
    <div class="section-heading">
        <h1>Hoạt động <br><em>du học sinh.</em></h1>
        <p>
            Các hoạt động của sinh viên khi đi du học gần đây

        </p>
    </div>
    <div class="section-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_1.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_2.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_3.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_2.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_1.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_3.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_2.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_1.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
            <div class="item">
                <div class="image">
                    <img src="~/Content/img/featured_3.jpg" alt="">
                    <div class="actionstudent-button button">
                        <a href="#liststudent">Continue Reading</a>
                    </div>
                </div>
                <div class="text-content">
                    <h4>hoạt động 1</h4>
                    <span>hoạt động 1</span>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
