
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/bootstrap.min.js">
</script>
<script src="~/Scripts/Chart.min.js"></script>

    <div>
        <h2 style="text-decoration-color:yellow"> Bảng thông kê phân bố lưu học sinh  </h2>
        <br />

        <canvas  class="d-flex justify-content-center"  id="thongke-chart" width="800" height="450"></canvas>


        <hr />
    </div>

<script>
    var x = new Chart(document.getElementById("thongke-chart"), {
        type: 'pie',
        data: {
            labels: ["Việt Nam", "Nga", "Pháp", "Đức", "Hàn Quốc"],
            datasets: [
              {
                  label: "Số lượng (người)",
                  display: true,
                  backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                  data: [2478, 5267, 734, 784, 433]
              }
            ]
        },
        options: {

            title: {
                display: true,
                text: 'Bảng thông kê phân bố lưu học sinh'
            }
        }

    });

</script>
