
<script src="~/Scripts/Chart.min.js"></script>

<section id="home" class="content-section">
    <div class="section-content">
        <h2 style="text-decoration-color:yellow">THỐNG KÊ KẾT QUẢ HỌC TẬP LƯU HỌC SINH </h2>
        <br />
        
        <canvas id="kqht-chart" width="800" height="450"></canvas>


        <hr />
    </div>
</section>
<script>
    new Chart(document.getElementById("kqht-chart"), {
        type: 'pie',
        data: {
            labels: ["Giỏi", "Khá", "Trung bình", "Yếu", "Kém"],
            datasets: [
              {
                  label: "Số lượng (người)",
                  display: true,
                  backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                  data: [2478, 5267, 734, 784, 433]
              }
            ]
        },
        options: {
           
            title: {
                display: true,
                text: 'Kết quả học tập của lưu học sinh'
            }
        }
        
    });
</script>
