
<link rel="stylesheet" href="~/Content/font-awesome.css" />

@{
    ViewBag.Title = "Báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .social-card-header {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 96px;
    }

        .social-card-header i {
            font-size: 32px;
            color: #FFF;
        }

    .bg-facebook {
        background-color: #3b5998;
    }

    .text-facebook {
        color: #3b5998;
    }

    .bg-google-plus {
        background-color: #dd4b39;
    }

    .text-google-plus {
        color: #dd4b39;
    }

    .bg-twitter {
        background-color: #1da1f2;
    }

    .text-twitter {
        color: #1da1f2;
    }

    .bg-pinterest {
        background-color: #bd081c;
    }

    .text-pinterest {
        color: #bd081c;
    }

    .share:hover {
        text-decoration: none;
        opacity: 0.8;
    }
</style>
<h3 class="pb-3 mb-4 font-italic border-bottom">
    Xuất báo cáo
</h3>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Excel.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Word.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Excel.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Word.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Excel.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">Loại tài liệu</strong>
                <h6 class="mb-0">
                    <a class="text-dark" href="#">Tiêu đề tài liệu</a>
                </h6>
                <div class="mb-1 text-muted small">Thời gian</div>
                <p class="card-text mb-auto">Nội dung chính.</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="#">Tải về</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Image" src="~/Content/img/Word.jpg" style="width: 200px; height: 250px;">
        </div>
    </div>
</div>


@Html.Partial("_PartialMultiReport")