<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../Content/img/logo.ico" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi.</h1>
        <h2>Bạn không thể đăng nhập vào hệ thống bây giờ.</h2>
    </hgroup>
</body>
</html>
